/* this is an external style */
p {
    font-size: 100px
}

/* use period/dot to reference a class (.) - class selector */
.blue {
    color: blue!important; /* don't make it and a habit using important' */
}

/* reference id with hash symbol (#) - id selector */
#heading {
    color: red;
    font-size: 12px;
}